In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
x_test_csv = pd.read_csv("./test.csv")
x_train_csv = pd.read_csv("./train.csv")

y = x_train_csv.SalePrice

f = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

x = x_train_csv[f].copy()

x_test = x_test_csv[f].copy()

x_train, x_value, y_train, y_value = train_test_split(x, y, random_state=0)

x_train.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
1292,6600,1892,1378,994,2,4,11
1018,10784,1991,802,670,2,3,7
1213,10246,1965,960,0,0,0,3
1430,21930,2005,734,1104,2,4,7
810,10140,1974,1309,0,1,3,5

In [11]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=0)

model.fit(x_train, y_train)

predict_val = model.predict(x_value)

In [12]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_value, predict_val)

print("Estimated MAE:", mae)

Estimated MAE: 28377.424657534248