In [3]:
import pandas as pd

In [5]:
#creating a simple data frame
pd.DataFrame({'A': [0, 2], 'B': [1, 3]})

   A  B
0  0  1
1  2  3

In [6]:
#creating a index diff dataframe
pd.DataFrame({"pointA": [120, -890], "pointB": [-144, 237]}, index=["x", "y"])

   pointA  pointB
x     120    -144
y    -890     237

In [9]:
#Normal series of df
pd.Series([22,33,44,55,66])

0    22
1    33
2    44
3    55
4    66
dtype: int64

In [11]:
#series with column name and index set
pd.Series([19,20,21], index=["year 2019", "year 2020", "year 2021"], name="Luca age")

year 2019    19
year 2020    20
year 2021    21
Name: Luca age, dtype: int64

In [12]:
#reading csv with a shape
data = pd.read_csv("./crw_pd_data.csv")
data.shape

(1460, 81)

In [14]:
#show head data of csv
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [15]:
#read csv and show head with index col
dataIndexCol = pd.read_csv("./crw_pd_data.csv", index_col=0)
dataIndexCol.head()

TypeError: read_csv() got an unexpected keyword argument 'index'